.carusel{
  margin-bottom: 150px;
}

.carusel__title{
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #22343D;
  }

.carusel__text{
  margin:  0 0 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
}

.carusel__date{
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.carusel__owner{
  margin: 24px 0 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.carusel__info{
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  color: #22343D;
}

.carusel__info--middle{
  color: #02897A;
}

.carousel__item {
  display: flex !important;
  justify-content: space-between !important; 
}

@media only screen and (max-width:576px){
  .carusel{
    margin-bottom: 100px;
  }

  .carusel__title{
    text-align: center;
  }

  .carusel__text{
    width: 100%;
    margin: 0 auto 40px;
    max-width: 350px;
  }

  .carusel__text{
    text-align: center;
  }

  .carousel__item{
    flex-direction: column !important;
    align-items: center;
  }

  .card{
    border: none !important;
    margin-bottom: 56px;
  }

  .card-body{
    padding: 0 !important;
  }
}