.header{
  position: relative;
  padding:23px 0 29px  ;
  margin-bottom: 25px;
}

.header__inner{
  display: flex;
  align-items: center;
}

.header__nav{
  margin-left: auto;
  width: 100%;
  max-width: 695px;
}

.header__burger{
  border: none;
  background: none;
  // width: 20px;
  // height: 17px;
  font-size: 24px;
  display: none;
}

.header__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__item{
  margin: 0;
  padding: 0;
}

.header__item__link{
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.header__item__link--first{
  font-weight: 600;
}

.header__item__link--in{
  padding: 10px 23px 9px 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #173A56;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
}

.header__item__link--up{
  padding: 10px 23px 9px 25px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 4px;
}

.header__button{
  padding: 0;
  border: none;
  background-color: none;
  border-radius: 50%;
}


@media only screen and (max-width:576px){
  .header{
    border-bottom: 1px solid #00000036;
  }

  body{
    overflow-y: hidden;
  }

  .header__nav{
    display: none;
    &--open{
      overflow: hidden;
      margin-top: 90px;
      display: block;
      position: absolute;
      background-color: gray;
      top:0;
      right: 0;
      max-width: 50%;
      width: 100%;
      height: 100vh;
      z-index: 5;
  }
}

.header__list{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.header__item{
  margin-bottom: 5px;
}

.header__item:nth-child(4){
  margin-bottom: 20px;
}

.header__item:nth-child(5){
  margin-bottom: 30px;
}
.header__item:nth-child(6){
  margin-bottom: 20px;
}

.header__item__link{
  color: #FFFFFF;
}

  .header__burger{
    display: block;
    width: 30px;
    margin-left: auto;
  }
}